<a href="/student/add">thêm</a>
<br><br>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>age</th>
        <th>email</th>
        <th>img</th>
        <th>sửa</th>
        <th>xóa</th>
    </tr>
    <% _.each(rs, function(rs){%>
        <tr>
            <th>
                <%= rs.id %>
            </th>
            <th>
                <%= rs.name %>
            </th>
            <th>
                <%= rs.age %>
            </th>
            <th>
                <%= rs.email %>
            </th>
            <th>
                <img src='<%= rs.img %>' alt="" width="20%">
            </th>
            <th><a href="/student/edit/<%= rs.id %>">sửa</a></th>
            <th><a href="/student/destroy/<%= rs.id %>">xóa</a></th>
        </tr>
        <%}) %>
</table>
